@import 'config';
.portos {
  font-family: 'Raleway', sans-serif;
  padding-bottom: 2rem;
  &__bio-img {
    height: 66vh;
    width: 100%;
    background:
  linear-gradient(
    to right,
    rgba($primary-color, 0),
    rgba($primary-color, 0.5)
  ),
   url('../img/porto.jpg') center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  &__bio {
    width: 80%;
    text-align: center;
    line-height: 1.4em;
    font-size: 0.8rem;
    padding-top: 2rem;
  
    
  }
}


&__items {
  width: 60vh;
  margin: 1rem auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;

  &__item {
     position: relative;
     border: 5px solid $secondary-color;
     cursor: pointer;

     img {
       width: 100% ;
     }
  }

}
}

